/* Some general styling */ 

body 
{
    box-sizing: border-box;

}
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior:smooth;
}

/* Styling home page */ 

.Main-page
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav 
{
    width: 55vw;
}

.Main-page > nav
{
    display: flex;
    justify-content: space-around;

}

.Navbar > .logo 
{
    width: 10rem;

    
}

.Navbar > ul 
{   
    font-family: 'Tajawal';
    color: #000000;
    font-style: normal;
    list-style: none;
    display: flex;
}
.Navbar > ul > li 
{
    margin: 3rem;
}
.Navbar > ul > li> a{
color: #000000;
text-decoration: none;
}
.Search {
    display: flex;
    margin-right: 3rem;
    gap: 0.6rem;
    align-items: center;
}
.Search img{

    width: 1rem;
        
  }
.Search input{
    border: none;
    border-bottom: 0.1rem solid ;
    outline: none;
    
    }
.dropdown{
    display:none;
}
.home-page-txt{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem;
    position: relative;
}
.home-page-txt .txt{
    margin-left: 7rem;
}
.home-page-txt h1{
font-family: 'Playfair Display';
font-weight: 400;
font-size: 5rem;
line-height: 128px;
color: #000000;
}
.home-page-txt h3{

font-family: 'Tajawal';
font-weight: 500;
font-size: 1.3rem;
line-height: 38px;
font-style:light;
color: #727272;
}
.happy-sushi{
    width: 7rem;
}
.home-img{

    width: 12rem;
}
.scroll{
    width: 1rem;
    position: absolute;
    left: 50%;
    bottom: 10%;
    background-color: #eee;
    border-radius: 50%;
    width: 30px;
    padding: 5px;
    transform: translateX(-50%);
}
.famous-plats
{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 3rem 10rem;
}
.famous-plats-title{
text-align: center;
font-family: 'Playfair Display';
font-weight: 400;
font-size: 3rem;
color: #000000;
}

.card
{   text-align: center;
    border:2px solid grey ;
    background: #fff;
    width:16rem;
    height: 20rem;
    border-radius: 15px ;
    box-shadow: 0px 0px 10px gray;
   
}

.card-image{
    margin-bottom: 2rem;
    background-color:white;
    height: 150px;
  
 
}
.p-1,.p-2,.p-3 {
    border-radius: 15px 15px 0 0 ;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.p-1 {
    background-image: url(../images/plat/plat1.jpg);

}
.p-2 {
    background-image: url(../images/plat/plat2.png);

}
.p-3 {
    background-image: url(../images/plat/plat3.png);
    
}
.card h2{
    color: #FFCC29;
}
/*end home style*/
/*about us style start*/
/*need update*/
.about{
    margin: 4rem 0;
}
.image-about{
    position: relative;
    justify-content: center;
    overflow: hidden;
    height: 30rem;
}
.ingredients,.our-chefs,.our-story h1{
    text-align:center;
    font-family: 'Tajawal';
}



.our-story,.ingredients p{
    justify-content:center;
    font-family: 'Viner Hand ITC';
    font-size: 1rem;
    color: #000000;
    padding: 1rem;
    margin-bottom: -3rem;
}
.our-chef {
    
    display: flex;
    justify-content: center;
    gap: 5rem;
}
.our-chef div {
    display: flex;
    align-items: center;
    flex-direction: column;
    
  
}
.buy img {
    width: 1rem;
}
.buy{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
.our-chef{
    flex-wrap: wrap;
}
.our-chef img{
    width: 20rem;
    flex-wrap: wrap;
}
/*end about us style*/
/*start cart style*/
.menu-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -2rem;
}
.menu-title img {
    width: 12rem;
}.menu-title h1{
    font-size:3REM;
    position: absolute;
    margin-top: -7rem;
}

/*startv cart styling*/

.container {
        margin-bottom: 3rem;
        gap: 3rem 0;
        display: grid;
        justify-content: space-evenly;
        grid-template-columns: auto auto auto;
        justify-items: center;
}

.container > .plat{
   display: flex;
flex-direction: column;
background-color: #fff;
border-radius: 10px;
width: 60%;
 height:16rem; 
box-shadow: -4px -4px 4px rgba(0, 0, 0, 0.25), 4px 4px 4px rgba(0, 0, 0, 0.25);
justify-content: space-around;
}
.ramen-plats{
    display: none;
}
.ubento-plats{
    display: none;
}

.container .plat .plat_img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
}

.container .plat .plat_img img {
    width: 80%;
}
.menu{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.plats {
    text-align: center ;
    margin-bottom: 3rem;
    width:40rem;
    justify-content: center;
    height: 2rem;
}

.buy{
    display: flex;
    justify-content: space-around;
    padding: .5rem 0;
}
.cart-body{
    display: flex;
    justify-content: center;
}
.receipt{
    margin-bottom: 3rem;
    background-color: white;
    box-shadow: 0px 0px 5px gray;
    border-radius: 15px;
    gap: 1rem 0;
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: fit-content;
    justify-content: space-around;
    align-items: center;
}
.receipt h1{
    text-align: center;
}
.receipt input{
  
    background-color: #FFCC29;
    border-radius: 5px;
    /* height: 2rem; */
    /* width: 6vw; */
}
.quantite{
    width: 2rem;
    background-color: #FFCC29;
    border-radius: 5px;
    border: none;
}
.add-quantite,.delete-quantite{
    border: none;
    border-radius: 100%;
    text-align: center;
    width: 1rem;
}

.item-buy{
margin: 2rem;
    border :1px black solid;
    border-radius: 12px;
    box-shadow: 2px  2px 2px#FFCC29;
    
    width: 20rem;
    height: 6rem;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
}
.your-shop img{
    height: 5rem;
}

.receipt-box{
    border: #000000 1px;
     display: grid;
    grid-template-columns:1fr 2fr 1fr; 
    /* display: flex; */
    align-items: center;
    gap: 1rem;
    margin-top:1rem ;
        padding: 5px;
}

.receipt-img{
    width: 70px;
    height: 70px;
    object-fit: contain;
    padding: 10px;
}
.detail-box{
    justify-content: space-between;
    display: flex;
    row-gap: 1rem;
}
.plat-title{
    font-size: 1.5rem;
}
.plat-price{
     font-weight: 500;
}
.cart-quantity{
    border: 1px solid var(--text-color);
    outline-color:var(--main-color);
    width: 2.4rem;
    text-align: center; 
     font-size: 1rem; 
}
.plat-remove{
    font-size:24px ;
    color: var(--min-color);
    cursor: pointer;   
    color: #FFCC29;
}
.plat-price{
    font-weight: 500;
}
.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top:1px solid var(--text-color);
}
.total-title{
    font-size: 1rem;
    font-weight: 600;
}
.total-price{
    margin-left:0.5rem;
}
.btn-buy{
    border-radius: 12px;
    background-color: #FFCC29;
    display: flex;
    margin: 1.5rem auto 1rem auto;
    padding: 12px 20px;
    border: none;
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;

}
/*end styling cart*/
/*start contact us */
.contact{
    justify-items: center;
}
.contact-cont h1 {
    text-align: center;
    margin: 1rem 0 0;
    font-size: 3rem;
    color:#FFCC29 ;
}
.contact-cont .container {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}
.contact input{
   text-align: center;
    font-size: larger;
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-bottom: 0.1rem solid;
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin: 2rem;
    padding: 10px 0;
    outline: none;
    }
#contact-btn{
    width: fit-content;
    border-radius: 12px;
    background-color: #FFCC29;
    display: flex;
    margin: 1.5rem auto 1rem auto;
    padding: 12px 20px;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
  .contact-sushi img{
    width: 30rem;
  }
  .findUS{
     text-align: center;
  margin: 1rem 0 0;
  font-size: 2rem;
  color: #FFCC29;
  }
 
  .more-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0;
    gap: 1rem;
  }
  .map{
    display: grid;
    justify-content: center;
  }
  iframe{
    width: 30rem;
    height: 20rem;
    align-items: center;
    border: 0;
    border-radius: 15px;
  }
/*end start contact us*/







/*footer style*/
.footer {
    position: flex;
    background: #727272;
    display: flex;
    align-items: center;
    height: 154px;
}
footer{ 
    text-align: center;
    justify-content: center;
    position: flex;
    width:100%;
    background: #727272;
    height: fit-content;



}
.social-media{
    justify-content:center;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 1rem 0;
    gap: 1rem;
}
footer p {font-family: 'Tajawal';
    justify-content: center;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
}

.footer-logo {
    width: 50px;
}

.footer-logo img {
    width: 30px;
}
.footer-logo:first-child img {
    width: 17px;
}

footer p a{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}
/*end footer style*/


/*responsive*/
@media (max-width :890px) {
    .show {
        display: none !important;
    }
    /*home responsive st*/
    .Navbar ul{
        display: block;
        position: absolute;
        background-color:#FFCC29;
        text-align: center;
        border-radius: 0 20px 20px 0;
        padding: 4rem 0 1rem 0;
        z-index: 100;
        left:0%;
    }
    .dropdown {
        display: block;
    }
   .dropdown img{
    position: relative;
    z-index: 1000;
    background: white;
    border-radius: 30px;
    cursor: pointer;

   }
    .Navbar >ul >li > a{
     color:white;
     font-family: 'Tajawal';
        font-weight: 700;

    }
    .home-page-txt{
        display: flex;
        flex-direction: column;
        margin: 1rem;
        position: relative;
    }
    .home-page-txt .txt{
        margin-left: 3rem;
    }
    .home-page-txt h1{
    font-family: 'Playfair Display';

    font-size: 2rem;
    line-height: 50px;
    color: #000000;
    }
    .home-page-txt h3{
    
    font-family: 'Tajawal';
    font-size: 1.3rem;
    line-height: 38px;
    font-style:light;
    color: #727272;
    }
    #home-img{
        width: 14rem;
    }
    .happy-sushi{
        width: 4rem;
    }
    .Search{
        order: 3;

    }
    .Search input{
        display: none;
    }
    .dropdown{
        order: 1;
    }
    .Navbar{
        order: 2;
    }
    .scroll{
        display: none;
    }
    .famous-plats{
        display: flex;
        flex-direction:column;
        overflow: none;
        width: 16rem;
        justify-content: space-evenly;
        margin: auto;
        padding-top: 2rem;
    }
    .card{
        margin-bottom: 1.4rem;
    }
    .card:hover{
        cursor: pointer;
        opacity: 1;
    }
    .cart-body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cart-body .container {
        grid-template-columns: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .choice select {
        width: 50%;
    }
    .receipt input{
        width: 5rem;
    }
    .receipt{
        height: 20rem;
        width: 60%;
    }


    /*About-us start styling*/
    .our-chef{
        display: flex;
        flex-direction: column;
    }
    .image-about img{
        width: 100%;
        
    }
    .image-about{
        height: fit-content;
    }
    /*About-us end styling*/
    .receipt{
        margin-bottom: 3rem;
        background-color: white;
        box-shadow: 0px 0px 5px gray;
        border-radius: 15px;
        gap: 1rem 0;
        display: flex;
        flex-direction: column;
        width: 60%;
        height: fit-content;
        justify-content: space-around;
        align-items: center;
    }
   .container{
    display: flex;
    flex-direction:column;
   }

   
}


